<nz-drawer [nzVisible]="visibleHelp" nzWidth="50%" nzTitle="Справка" (nzOnClose)="closeHelp()">
  <iframe src="help" width="100%" height="600" align="left">
      Ваш браузер не поддерживает плавающие фреймы!
  </iframe>
  <!-- <p>В ближайшее время здесь появится справка</p> -->

</nz-drawer>

<div nz-row nzType="flex" nzJustify="end" style="padding-bottom: 15px;">
  <div nz-col nzOffset="16" nzSpan="4" style="text-align: right;">
      <!-- <button nz-button (click)="showFilter()"><i nz-icon nzType="search" nzTheme="outline"></i></button> -->
      <!-- <button nz-button nzType="default" (click)="openHelp()"><i nz-icon nzType="question-circle" nzTheme="outline"></i></button> -->
  </div>
</div>

<nz-tabset *ngIf="environment.software !== 'mfsb'">
  <nz-tab nzTitle="Аналитика">
      <nz-spin style="margin-left: 5%; margin-top: 3%; position: absolute;" [nzSpinning]="isStateSpinning" nzSimple></nz-spin>
      <nz-spin style="margin-left: 55%; margin-top: 3%; position: absolute;" [nzSpinning]="getAbandonedSpinning" nzSimple></nz-spin>
      <nz-spin style="margin-left: 5%; margin-top: 22%; position: absolute;" [nzSpinning]="getChartCompanyMonthMaintenanceSpinning" nzSimple></nz-spin>
      <nz-spin style="margin-left: 55%; margin-top: 22%; position: absolute;" [nzSpinning]="getTimeAverageRepairSpinning" nzSimple></nz-spin>
  <div nz-row nzType="flex" nzJustify="end" style="padding-bottom: 15px;">

      <div *ngIf="admRights == 1" style="border-right: 1px solid #0a0a0a26; border-bottom: 1px solid #0a0a0a26;" nz-col nzSpan="12">
          <h3 style="margin-left: 6%;">Количество дней безаварийной работы</h3>
          <ngx-charts-bar-vertical-stacked
                [view]="view1"
                [scheme]="colorScheme1"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [results]="DaysWithoutCrashData"
                >
        </ngx-charts-bar-vertical-stacked>
      </div>

      <div *ngIf="admRights == 1" style="border-right: 1px solid #0a0a0a26; border-bottom: 1px solid #0a0a0a26;" nz-col nzSpan="12">
        <h3 style="margin-left: 6%;">Антирейтинг "Брошенные неисправности"</h3>
        <ngx-charts-bar-vertical-stacked
              [view]="view1"
              [scheme]="colorScheme2"
              (select)="onSelect($event)"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [results]="AbandonedChartData"
              >
              <ng-template #tooltipTemplate let-model="model">
                <div class="tooltip">
                  {{model.tooltipText}}
                </div>
              </ng-template>
        </ngx-charts-bar-vertical-stacked>
    </div>
  </div>

  <div nz-row nzType="flex" nzJustify="end" style="padding-bottom: 15px;">


    <div *ngIf="admRights == 1" style="border-right: 1px solid #0a0a0a26; border-bottom: 1px solid #0a0a0a26;" nz-col nzSpan="12">
      <div style="display: flex;">
        <h3 style="margin-left: 6%;">Процент выполнения подрядчиком работ ТО</h3>
        <a style="position: absolute; right: 5%;" title="На весь экран" (click)="showModalTO()"><i class="fullscr" style="font-size: 22px;color: #555;" nz-icon nzType="fullscreen" nzTheme="outline"></i></a>
      </div>
      <div >
        <ngx-charts-line-chart *ngIf="MonthMaintenanceCompanyIndList.length !== 1"
          [view]="view1"
          [legendTitle] = "legendTitle"
          [legend] = "true"
          [results]="MonthMaintenanceChartData"
          [showYAxisLabel]="showYAxisLabel1"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabelGetPercent"
          >
        </ngx-charts-line-chart>

        <ngx-charts-line-chart *ngIf="MonthMaintenanceCompanyIndList.length == 1"
          [view]="view1"
          [legendTitle] = "legendTitle1"
          [legend] = "true"
          [results]="MonthMaintenanceChartData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showYAxisLabel]="showYAxisLabel1"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabelGetPercent"
          >
        </ngx-charts-line-chart>
    </div>
    <div style="display: block;">
      <form  >
        <nz-select style="width: 99%;margin: 5px;" [(ngModel)]="MonthMaintenanceCompanyIndList"
          (ngModelChange)="SelectMonthMaintenanceCompany($event)" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="Выбор подрядчика" name="first">
          <nz-option-group >
            <nz-option  *ngFor="let op of companyList" [nzLabel]="op.caption" [nzValue]="op.ind"></nz-option>
          </nz-option-group>
        </nz-select>
      </form>

      <form *ngIf="MonthMaintenanceCompanyIndList.length == 1" >
        <nz-select style="width: 99%;margin: 5px;" [(ngModel)]="maintenanceCompanyMonObjectIndSelected" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="Выбор объекта" name="first1" >
          <nz-option-group >
              <nz-option *ngFor="let op of this.maintenanceCompanyMonObjectList;" [nzLabel]="op.caption" [nzValue]="op.monObjectInd"></nz-option>
          </nz-option-group>
        </nz-select>
      </form>
      <button nz-button nzType="primary"  (click)="ChartCompanyMonthMaintenanceUpdate()" style="width: 100px;margin: 5px;" >Обновить</button>
    </div>
  </div>

  <div *ngIf="admRights == 1" style="border-bottom: 1px solid #0a0a0a26; margin-bottom: 20px;" nz-col nzSpan="12">
    <div style="display: flex;">
      <h3 style="margin-left: 6%;">Среднее время устранения "Критической неисправности"</h3>
      <a style="position: absolute; right: 5%;" title="На весь экран" (click)="showModalCrit()"><i class="fullscr" style="font-size: 22px;color: #555;" nz-icon nzType="fullscreen" nzTheme="outline"></i></a>
    </div>

    <ngx-charts-line-chart *ngIf="RepairsDefectCompanyIndList.length !== 1"
      [view]="view1"
      [legendTitle] = "legendTitle"
      [legend] = "true"
      [showYAxisLabel]="showYAxisLabel1"
      [xAxis]="xAxis1"
      [yAxis]="yAxis1"
      [xAxisLabel]="xAxisLabel1"
      [yAxisLabel]="yAxisLabel"
      [results]="RepairsDefectChartData"
    >
    <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip">
            {{model.tooltipText}}
          </div>
        </ng-template>
  </ngx-charts-line-chart>

  <ngx-charts-line-chart *ngIf="RepairsDefectCompanyIndList.length == 1"
      [view]="view1"
      [legendTitle] = "legendTitle1"
      [legend] = "true"
      [showYAxisLabel]="showYAxisLabel1"
      [xAxis]="xAxis1"
      [yAxis]="yAxis1"
      [xAxisLabel]="xAxisLabel1"
      [yAxisLabel]="yAxisLabel"
      [results]="RepairsDefectChartData"
    >
    <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip">
            {{model.tooltipText}}
          </div>
        </ng-template>
  </ngx-charts-line-chart>

  <div style="display: block;">
    <form  >
      <nz-select style="width: 99%;margin: 5px;" [(ngModel)]="RepairsDefectCompanyIndList" nzMode="multiple"
      (ngModelChange)="SelectMonthRepairsCompany($event)" nzShowSearch nzAllowClear nzPlaceHolder="Выбор подрядчика" name="first">
        <nz-option-group >
          <nz-option  *ngFor="let op of companyList" [nzLabel]="op.caption" [nzValue]="op.ind"></nz-option>
        </nz-option-group>
      </nz-select>
    </form>
    <form *ngIf="RepairsDefectCompanyIndList.length == 1" >
      <nz-select style="width: 99%;margin: 5px;" [(ngModel)]="repairsCompanyMonObjectIndSelected" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="Выбор объекта мониторинга" name="first1">
        <nz-option-group >
          <nz-option  *ngFor="let op of repairsCompanyMonObjectList" [nzLabel]="op.caption" [nzValue]="op.monObjectInd"></nz-option>
        </nz-option-group>
      </nz-select>
    </form>
    <button nz-button nzType="primary"  (click)="ChartRepairsDefectUpdate()" style="width: 100px;margin: 5px;" >Обновить</button>
  </div>
</div>
</div>



<nz-modal [(nzVisible)]="isVisibleModalTO" nzWidth="90vw" nzTitle="Процент выполнения подрядчиком работ ТО" [nzFooter]="null" (nzOnCancel)="handleCancelTO()" (nzOnOk)="handleOkTO()">
  <div >
    <div >
      <ngx-charts-line-chart *ngIf="MonthMaintenanceCompanyIndList.length !== 1"
        [view]="view10"
        [legendTitle] = "legendTitle"
        [legend] = "true"
        [results]="MonthMaintenanceChartData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showYAxisLabel]="showYAxisLabel1"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabelGetPercent"
        >
      </ngx-charts-line-chart>

      <ngx-charts-line-chart *ngIf="MonthMaintenanceCompanyIndList.length == 1"
        [view]="view10"
        [legendTitle] = "legendTitle1"
        [legend] = "true"
        [results]="MonthMaintenanceChartData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showYAxisLabel]="showYAxisLabel1"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabelGetPercent"
        >
      </ngx-charts-line-chart>
  </div>
  <div style="display: block;">
    <form  >
      <nz-select style="width: 99%;margin: 5px;" [(ngModel)]="MonthMaintenanceCompanyIndList"
        (ngModelChange)="SelectMonthMaintenanceCompany($event)" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="Выбор подрядчика" name="first">
        <nz-option-group >
          <nz-option  *ngFor="let op of companyList" [nzLabel]="op.caption" [nzValue]="op.ind"></nz-option>
        </nz-option-group>
      </nz-select>
    </form>

    <form *ngIf="MonthMaintenanceCompanyIndList.length == 1" >
      <nz-select style="width: 99%;margin: 5px;" [(ngModel)]="maintenanceCompanyMonObjectIndSelected" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="Выбор объекта" name="first1" >
        <nz-option-group >
            <nz-option *ngFor="let op of this.maintenanceCompanyMonObjectList;" [nzLabel]="op.caption" [nzValue]="op.monObjectInd"></nz-option>
        </nz-option-group>
      </nz-select>
    </form>
    <button nz-button nzType="primary"  (click)="ChartCompanyMonthMaintenanceUpdate()" style="width: 100px;margin: 5px;" >Обновить</button>
  </div>
</div>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleModalCrit" nzWidth="90vw" nzTitle="Среднее время устранения Критической неисправности" [nzFooter]="null" (nzOnCancel)="handleCancelCrit()" (nzOnOk)="handleOkCrit()">
  <div >

    <ngx-charts-line-chart *ngIf="RepairsDefectCompanyIndList.length !== 1"
      [view]="view10"
      [legendTitle] = "legendTitle"
      [legend] = "true"
      [showYAxisLabel]="showYAxisLabel1"
      [xAxis]="xAxis1"
      [yAxis]="yAxis1"
      [xAxisLabel]="xAxisLabel1"
      [yAxisLabel]="yAxisLabel"
      [results]="RepairsDefectChartData"
    >
    <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip">
            {{model.tooltipText}}
          </div>
        </ng-template>
  </ngx-charts-line-chart>

  <ngx-charts-line-chart *ngIf="RepairsDefectCompanyIndList.length == 1"
      [view]="view10"
      [legendTitle] = "legendTitle1"
      [legend] = "true"
      [showYAxisLabel]="showYAxisLabel1"
      [xAxis]="xAxis1"
      [yAxis]="yAxis1"
      [xAxisLabel]="xAxisLabel1"
      [yAxisLabel]="yAxisLabel"
      [results]="RepairsDefectChartData"
    >
    <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip">
            {{model.tooltipText}}
          </div>
        </ng-template>
  </ngx-charts-line-chart>

  <div style="display: block;">
    <form  >
      <nz-select style="width: 99%;margin: 5px;" [(ngModel)]="RepairsDefectCompanyIndList" nzMode="multiple"
      (ngModelChange)="SelectMonthRepairsCompany($event)" nzShowSearch nzAllowClear nzPlaceHolder="Выбор подрядчика" name="first">
        <nz-option-group >
          <nz-option  *ngFor="let op of companyList" [nzLabel]="op.caption" [nzValue]="op.ind"></nz-option>
        </nz-option-group>
      </nz-select>
    </form>
    <form *ngIf="RepairsDefectCompanyIndList.length == 1" >
      <nz-select style="width: 99%;margin: 5px;" [(ngModel)]="repairsCompanyMonObjectIndSelected" nzMode="multiple" nzShowSearch nzAllowClear nzPlaceHolder="Выбор подрядчика" name="first1">
        <nz-option-group >
          <nz-option  *ngFor="let op of repairsCompanyMonObjectList" [nzLabel]="op.caption" [nzValue]="op.monObjectInd"></nz-option>
        </nz-option-group>
      </nz-select>
    </form>
    <button nz-button nzType="primary"  (click)="ChartRepairsDefectUpdate()" style="width: 100px;margin: 5px;" >Обновить</button>
  </div>
</div>
</nz-modal>

<div *ngIf="admRights !== 1">
  <div style="border-right: 1px solid #0a0a0a26; border-bottom: 1px solid #0a0a0a26;" nz-col nzSpan="24">
    <h3 style="margin-left: 6%;">Количество дней безаварийной работы</h3>
    <ngx-charts-bar-vertical-stacked
          [view]="view10"
          [scheme]="colorScheme1"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="DaysWithoutCrashData"
          >
  </ngx-charts-bar-vertical-stacked>
</div>

<div style="border-bottom: 1px solid #0a0a0a26; margin-bottom: 20px;" nz-col nzSpan="24">
  <h3 style="margin-left: 6%;">Антирейтинг "Брошенные неисправности"</h3>
  <ngx-charts-bar-vertical-stacked
        [view]="view10"
        [scheme]="colorScheme2"
        (select)="onSelect($event)"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="AbandonedChartData"
        >
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip">
            {{model.tooltipText}}
          </div>
        </ng-template>
  </ngx-charts-bar-vertical-stacked>
</div>
</div>

  </nz-tab>
  <nz-tab nzTitle="Cостояние оборудования в %">
    <nz-spin style="margin-left: 45%; margin-top: 20%; position: absolute;" [nzSpinning]="isStateSpinning" nzSimple></nz-spin>
    <div style="display: flex;">
        <ngx-charts-bar-horizontal-normalized
          [view]="viewState"
          [scheme]="horizontalBarColor"
          [results]="horizontalBar"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          legendTitle="Состояния"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel2">
        </ngx-charts-bar-horizontal-normalized>
    </div>
</nz-tab>

<nz-tab nzTitle="Количество неисправностей">
    <nz-spin style="margin-left: 45%; margin-top: 20%; position: absolute;" [nzSpinning]="isStateSpinning" nzSimple></nz-spin>
    <div style="display: flex;">
        <ngx-charts-bar-horizontal-2d
          [view]="viewDefect"
          [scheme]="multi2Color"
          [results]="multi2"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          legendTitle="Состояния"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          barPadding="0"
          groupPadding="5">
          <ngx-tooltip-content></ngx-tooltip-content>
        </ngx-charts-bar-horizontal-2d>
    </div>
</nz-tab>
</nz-tabset>
<nz-tabset *ngIf="environment.software == 'mfsb'">
  <nz-tab nzTitle="Аналитика">
      <nz-spin style="margin-left: 5%; margin-top: 3%; position: absolute;" [nzSpinning]="isStateSpinning" nzSimple></nz-spin>
      <!-- <nz-spin style="margin-left: 55%; margin-top: 3%; position: absolute;" [nzSpinning]="getAbandonedSpinning" nzSimple></nz-spin>
      <nz-spin style="margin-left: 5%; margin-top: 22%; position: absolute;" [nzSpinning]="getChartCompanyMonthMaintenanceSpinning" nzSimple></nz-spin>
      <nz-spin style="margin-left: 55%; margin-top: 22%; position: absolute;" [nzSpinning]="getTimeAverageRepairSpinning" nzSimple></nz-spin> -->
  <div nz-row nzType="flex" nzJustify="end" style="padding-bottom: 15px;">

      <div *ngIf="admRights == 1" style="border-right: 1px solid #0a0a0a26; border-bottom: 1px solid #0a0a0a26;" nz-col nzSpan="12">
          <h3 style="margin-left: 6%;">Количество дней безаварийной работы</h3>
          <ngx-charts-bar-vertical-stacked
                [view]="view1"
                [scheme]="colorScheme1"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [results]="DaysWithoutCrashData"
                >
        </ngx-charts-bar-vertical-stacked>
      </div>

      <div *ngIf="admRights == 1" style="border-right: 1px solid #0a0a0a26; border-bottom: 1px solid #0a0a0a26;" nz-col nzSpan="12">
        <h3 style="margin-left: 6%;">Антирейтинг "Брошенные неисправности"</h3>
        <ngx-charts-bar-vertical-stacked
              [view]="view1"
              [scheme]="colorScheme2"
              (select)="onSelect($event)"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [results]="AbandonedChartData"
              >
              <ng-template #tooltipTemplate let-model="model">
                <div class="tooltip">
                  {{model.tooltipText}}
                </div>
              </ng-template>
        </ngx-charts-bar-vertical-stacked>
    </div>

    <nz-spin *ngIf="admRights == 1" style="margin-left: 45%; margin-top: 20%; position: absolute;" [nzSpinning]="isStateSpinning" nzSimple></nz-spin>
    <div style="display: flex;">
        <ngx-charts-bar-horizontal-2d
          [view]="viewDefect"
          [scheme]="multi2Color"
          [results]="multi2"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          legendTitle="Состояния"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          barPadding="0"
          groupPadding="5">
          <ngx-tooltip-content></ngx-tooltip-content>
        </ngx-charts-bar-horizontal-2d>
    </div>
  </div>


<div *ngIf="admRights !== 1">
  <div style="border-right: 1px solid #0a0a0a26; border-bottom: 1px solid #0a0a0a26;" nz-col nzSpan="24">
    <h3 style="margin-left: 6%;">Количество дней безаварийной работы</h3>
    <ngx-charts-bar-vertical-stacked
          [view]="view10"
          [scheme]="colorScheme1"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [results]="DaysWithoutCrashData"
          >
  </ngx-charts-bar-vertical-stacked>
</div>

<div style="border-bottom: 1px solid #0a0a0a26; margin-bottom: 20px;" nz-col nzSpan="24">
  <h3 style="margin-left: 6%;">Антирейтинг "Брошенные неисправности"</h3>
  <ngx-charts-bar-vertical-stacked
        [view]="view10"
        [scheme]="colorScheme2"
        (select)="onSelect($event)"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="AbandonedChartData"
        >
        <ng-template #tooltipTemplate let-model="model">
          <div class="tooltip">
            {{model.tooltipText}}
          </div>
        </ng-template>
  </ngx-charts-bar-vertical-stacked>
</div>

<nz-spin style="margin-left: 45%; margin-top: 20%; position: absolute;" [nzSpinning]="isStateSpinning" nzSimple></nz-spin>
    <div style="display: flex;">
        <ngx-charts-bar-horizontal-2d
          [view]="viewDefect"
          [scheme]="multi2Color"
          [results]="multi2"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          legendTitle="Состояния"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          barPadding="0"
          groupPadding="5">
          <ngx-tooltip-content></ngx-tooltip-content>
        </ngx-charts-bar-horizontal-2d>
    </div>

</div>

  </nz-tab>
  <nz-tab nzTitle="Количество неисправностей">
    <nz-spin style="margin-left: 45%; margin-top: 20%; position: absolute;" [nzSpinning]="isStateSpinning" nzSimple></nz-spin>
    <div style="display: flex;">
        <ngx-charts-bar-horizontal-normalized
          [view]="viewState"
          [scheme]="horizontalBarColor"
          [results]="horizontalBar"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          legendTitle="Состояния"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel2">
        </ngx-charts-bar-horizontal-normalized>
    </div>
</nz-tab>

</nz-tabset>

